
body {
  background-image: url("Imagenes/19801-agua.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.col{
  text-align: center;
}

span {
text-decoration: none;
color: white;
text-shadow: 2px 2px 2px black;
}

#Iconos {
  margin-left: 10%;
  width: 80%;
}

#Nombre {
  color: white;
  font-size: 500%;
  font-weight: 600;
  text-shadow: 4px 4px 1px black;
  text-align: center;
  font-family: 'Babylonica', cursive;
  
}

#Foto {
  margin-bottom: 14%; margin-right: 15%;
  float: right;
  width: 18%;
}

#InfoIconos {
  font-size: 200%; color: white;
  text-shadow: 3px 1px 1px black;
  font-family: 'Mynerve', cursive;
  background-color: transparent;
  margin-left: 15%;
  margin-right: %;
  float: initial;
  width: 70%;
}

.fa-graduation-cap {
  font-size: 500%;
  color: rgb(4, 63, 4);
}
.fa-person-swimming {
  font-size: 500%;
  color: rgb(3, 3, 63);
}
.fa-address-card {
  font-size: 500%;
  color: rgb(112, 7, 7);
}

.fa-clapperboard {
  font-size: 500%;
  color: rgb(3, 3, 63);
}



#info {
  text-align: center;
  background-image: url("Imagenes/57.jpg");
  margin-top: 25%;
  font-size: 150%;
  margin-left: 20%;margin-right: 20%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}
  
#pie {
  text-align: center;
    clear: both; 
}

.ir-arriba {
	display:none;
	padding:20px;
	font-size:200%;
	color:white;
	cursor:pointer;
	position: fixed;
	bottom:10%;
	left:15%;
}