h1{
  font-size: 10px
}


#contenedor {
  background-image: url("Imagenes/pinter.jpg");
  background-color: transparent;
  width: 100%;
}

#indice {
  margin-left: 10% 
  
}

#Iconos {
  margin-left: 10%;
  background-color: #b4dbe5;
  width: 80%;
}

h1 {
  text-align: center;
  font-family: 'Babylonica', cursive;
  margin-bottom: 0%;
  font-size: 300%;
  color: black;
}

#Foto {
  margin-bottom: 5%; margin-right: 15%;
  float: right;
  width: 18%;
}

#InfoIconos {
  font-family: 'Mynerve', cursive;
  background-color: transparent;
  margin-left: 10%;
  float: initial;
  width: 200%;
}

.fa-graduation-cap {
  font-size: 500%;
  color: rgb(4, 63, 4);
}
.fa-person-swimming {
  font-size: 500%;
  color: rgb(3, 3, 63);
}
.fa-address-card {
  font-size: 500%;
  color: rgb(112, 7, 7);
}

P {
  text-align: center;
      font-size: 150%;
      color: rgb(10 10 10);
}

#info {
  text-align: center;
  background-image: url("Imagenes/57.jpg");
  margin-top: 25%;
  font-size: 150%;
  margin-left: 20%;margin-right: 20%;
}
  
#pie {
  text-align: center;
    clear: both; 
}

.ir-arriba {
	display:none;
	padding:20px;
	background:transparent;
	font-size:200%;
	color:rgb(3, 3, 63);
	cursor:pointer;
	position: fixed;
	bottom:10%;
	left:15%;
}